@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap%27');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.alignerElementsHaut {


    padding: 20px 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: inherit;

}

.titrePiLogo {



    color: white;


    display: flex;
    align-items: center;
    font-size: 27px;
    cursor: pointer;

}

.buttonsConnexionInscription {
    margin-left: auto;
}

.ConnexionButon {
    padding: 5px;
    font-size: 25px;
    border: 0.15em solid #3C8D93;
    color: #3C8D93;
    background: none;
    cursor: pointer;
    transition-duration: 0.25s;

}

.ConnexionButon:hover {
    background-color: #3C8D93;
    color: #FFFFFF;

}

.ConnexionButon:active {
    border-color: black;
}

.InscriptionButon {
    border: 0.15em solid #ffffff;
    padding: 0.2em 0.3em;
    margin-left: 40px;
    font-size: 22px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color:transparent;
    cursor: pointer;
    transition-duration: 0.25s;
}

.InscriptionButon:hover {
    background-color: #FFFFFF;
    color: #000000;

}

.InscriptionButon:active {
    border-color: black;
}


.tailleLogo {
    height: 64px;
    width: 63px;
}

.whitey {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
}






.TextPrincipalAccueil {
    float: left;
    margin-left: 7%;
    width: 35%;

}





a {
    text-decoration: none;
    color: white;
}



.barcon {
    justify-content: right;
    align-items: center;
    display: inline-flex;
    float: right;


}

#block {
    border: 1px solid white;
    margin-left: 20px;
    text-align: center;
    padding-right: 70px;

}


.PageAccueil {
    background-color: #1f454d;
}

.categories a:hover {
    font-size: 20px;
    font-size-adjust: 20px;
    color: orange;
}

#block a:hover {
    font-size: 20px;
    font-size-adjust: 20px;
    color: aqua;

}

.imagebleu {
    height: 80%;
    left: 700px;
    position: fixed;
    bottom: 0;
    width: 952px;
}

.imageacc {
    margin-top: 50px;
    margin-left: 5%;
    object-fit: cover;
    /*  position: absolute;*/
    bottom: 25px;
    width: 43%;
    /*box-shadow:#3C8D93 -50px -10px  ;*/
    box-shadow: -30px 40px 50px 0 #3C8D93;
    border-radius: 30px;

}

p {
    font-weight: 600;
}

.recherche {

    font-size: 18px;
    color: #8FA2A6;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #1f454d;
    width: auto;
    height: auto;


}

.nomCompte {
    font-size: 20px;
}

footer {
    background-color: #1f454d;
    text-align: center;
    max-height: 10%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
    padding: 30px;
    color: black;
    z-index: 1000;
}

body {

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


.sidenav {

    /* height: calc(100vh - 15vh); */
    height: 100vh; 
    width: 15%;
    float: left;
    font-size:14px;
    background-color: #3C8D93;
    display: inline-block;
}

.sidenav ul {
    display: list-item;

}

.sidenav ul li {
    width: 100%;
    padding: 20px 15px 20px 25px;
    list-style-type: none;
    text-align: left;
}

.sidenav ul li:hover {
    background-color: #ffa500;
    transition: 0.5s;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidenav ul li a i {
    font-size: 1.1em;
    margin-right: 10px;
}

.navcoteText {
    color: #FFFFFF;
    text-decoration:none; 
}


.contenuPrincipal{
    display: inline-block;
    padding: 50px;
}

.tbd-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 800px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.tbd-table thead tr {
    background-color: #3C8D93;
    color:#ffffff;
    text-align: left;
    font-weight: bold;    
}

.tbd-table th,
.tbd-table td{
    padding: 12px 15px;
}

.tbd-table tbody tr{
    border-bottom: 1px solid #dddddd; 
}

.tbd-table tbody tr:nth-of-type(even){
    background-color: #f4f4f4
}

.tbd-table tbody tr:last-of-type{
    border-bottom: 2px solid #3C8D93;
}

.search-container{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 33%;
    min-width: 720px;
}

.search-container:hover{
    border: 2px solid darkgray;
}

.search-container:focus-within{
    border: 2px solid black;
}

.search-input {
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
    width:75%;
    min-width: 500px;
    background-color: transparent;
    border-style: none;
}

.search-input:focus{
    outline: none;
}

.search-input::placeholder{
    color: #c8baba;
}

.search-btn-input{
    font-family: inherit;
    font-weight: bolder;
    font-size: 15px;
    padding:10px;
    min-width: 25%;
    border-style: none;
    color: #ffffff;
    background-color: #3C8D93;
    border-radius: 55px;
    cursor: pointer;
    transition-duration: 0.25s;
}

.search-btn-input:hover{
    background-color:#1F454D;    
    color: #ffffff;
}

.search-btn-input:active{
    background-color:darkgoldenrod;
}

