@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
----------------------------------------------------------
----- INFOS SUR HEADER DE L'ÉCRAN D'INSCRIPTION ----------
----------------------------------------------------------
*/

.page {
    height: 100vh;
    background-color: #1F454D;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6%;
}

.conteneur-du-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo{
    width: 55px;
    height: 55px;
}

.titre-du-site{
    font-family: inherit;
    font-weight: inherit;
    font-size: 23px;
    color: #ffffff; 
    text-decoration: none;
}

.btn-inscription{
    background-color:transparent;
    border: 0.15em solid #ffffff;
    color: #ffffff;
    padding: 0.2em 0.3em;
    font-family: inherit;
    font-weight: inherit;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.25s;
}

.btn-inscription:hover {
    background-color: #000000;
    border: 0.15em solid #000000;
    color: #ffffff;
}

.btn-inscription:active {
    background-color: #555555;
    border: 0.19em solid #555555;
}

/*
------------------------------
------- LE FORMULAIRE --------
------------------------------
*/

.page-main{
    display:flex;
    align-items: center;
    justify-content: center;

}

.formulaire-connexion {
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding:30px 65px 65px 65px;
    border-radius: 55px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.formulaire-connexion-titre {
    color: #1F454D;
    font-size: 32px;
    padding: 0px 50px 30px;
}

.formlaire-connexion-paragraphe{
    color: #c4c4c4;
}

.controle-formulaire {
    position: relative;
}

.controle-formulaire p {
    font-size: 13px;
    color:#c4c4c4;
    line-height: 1.5em;
    width:80%;
}

.controle-formulaire small{
    visibility: hidden;
    bottom: 0;
    left:0;
}

.entree{
    align-items: center;
    line-height: 1.2em;
    padding: 5px 0px;
    background-color: #e5e5e5;
    border-radius: 15px;
    padding: 8px 10px 8px 20px;
    width: 100%;
}

.entree:hover{
    border: 2px solid darkgray;
}

.entree:focus-within{
    border: 2px solid black;
}

.entree input {
    font-family: inherit;
    font-weight: inherit;
    font-size: 15px;
    width:80%;
    background-color: transparent;
    border-style: none;
}

.entree input:focus{
    outline: none;
}

.entree input::placeholder{
    color: #c8baba;
}

.fa, .fas{
    color:#3C8D93;
}

.fas{
    margin-right: 15px;
}

.yeux{
    margin-left: 0;
}

#hide1{
    display:none;
}

#hide2{
    cursor: pointer;
}

#hide3{
    display:none;
}

#hide4{
    cursor: pointer;
}

.checkbox-container{
    display: flex;
    align-items: center;
}


.checkbox-container label{
    cursor: pointer;
    display: flex;
    font-size: 14px;
}


.checkbox-container input[type='checkbox']{
    cursor:pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before{
    content:'';
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: .5em;
    background-color: #e5e5e5;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before{
    background-color: #3C8D9380;
}


.checkbox-container input[type='checkbox']:checked + label::before{
    content: '\002714';
    background-color: #3C8D93; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn-connexion {
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    padding:10px;
    margin-top: 20px;
    border-style: none;
    color: #ffffff;
    background-color: #3C8D93;
    font-size: 23px;
    width:100%;
    border-radius: 55px;
    cursor: pointer;
    transition-duration: 0.25s;
}

.btn-connexion:hover {
    background-color:#1F454D;    
    color: #ffffff;
}

.btn-connexion:active {
    background-color:darkgoldenrod;  
}

/*
-----------------------------------------------------------
------ INFOS SUR FOOTER DE L'ÉCRAN D'INSCRIPTION ----------
-----------------------------------------------------------
*/

.footer-contenu {
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100vw;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    padding: 30px;
    color: #c4c4c4;
}

/*
-----------------------------------------------------------
---------------- CSS SUR VALIDATION JS --------------------
-----------------------------------------------------------
*/

.controle-formulaire.js-success .entree{
    border: 2px solid #00e600;
}


.controle-formulaire.js-error .entree{
    border: 2px solid #e60000;
}

.controle-formulaire.js-error small{
    color: 	#e60000;
    visibility: visible;
}
