<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>pageAccueil.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>com.mv2.controllers.ServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.mv2.controllers.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.mv2.controllers.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.mv2.controllers.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>com.mv2.controllers.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cv</servlet-name>
        <servlet-class>com.mv2.controllers.Cv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherche</servlet-name>
        <servlet-class>com.mv2.controllers.Recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajouter</servlet-name>
        <servlet-class>com.mv2.controllers.Ajouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifier</servlet-name>
        <servlet-class>com.mv2.controllers.Modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supprimer</servlet-name>
        <servlet-class>com.mv2.controllers.Supprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeOffre</servlet-name>
        <servlet-class>com.mv2.controllers.ListeOffre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NouvelOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.NouvelOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.SupprimerOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.ModifierOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierOffreEntreprisePartieDeux</servlet-name>
        <servlet-class>com.mv2.controllers.ModifierOffreEntreprisePartieDeux</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.AfficherOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerDemandePostulation</servlet-name>
        <servlet-class>com.mv2.controllers.EnvoyerDemandePostulation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerMail</servlet-name>
        <servlet-class>com.mv2.controllers.EnvoyerMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeDesEntreprisesController</servlet-name>
        <servlet-class>com.mv2.controllers.ListeDesEntreprisesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeEtudiantController</servlet-name>
        <servlet-class>com.mv2.controllers.listeEtudiantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeOffreAvecLiensCandidatures</servlet-name>
        <servlet-class>com.mv2.controllers.ListeOffreAvecLiensCandidatures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCandidaturesPourOffre</servlet-name>
        <servlet-class>com.mv2.controllers.ListeCandidaturesPourOffre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/ServletTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cv</servlet-name>
        <url-pattern>/Cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherche</servlet-name>
        <url-pattern>/recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajouter</servlet-name>
        <url-pattern>/Ajouter/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supprimer</servlet-name>
        <url-pattern>/Supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeOffre</servlet-name>
        <url-pattern>/listeOffre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NouvelOffreEntreprise</servlet-name>
        <url-pattern>/nouvelOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerOffreEntreprise</servlet-name>
        <url-pattern>/supprimerOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierOffreEntreprise</servlet-name>
        <url-pattern>/modifierOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierOffreEntreprisePartieDeux</servlet-name>
        <url-pattern>/modifierOffreEntreprisePartieDeux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherOffreEntreprise</servlet-name>
        <url-pattern>/afficherOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerDemandePostulation</servlet-name>
        <url-pattern>/envoyerDemandePostulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerMail</servlet-name>
        <url-pattern>/envoyerMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeDesEntreprisesController</servlet-name>
        <url-pattern>/listeDesEntreprises</url-pattern>
    </servlet-mapping>
    <!-- paramètres SMTP  -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>olivia.postulation</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>teqxwzuhtchqvogu</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>listeEtudiantController</servlet-name>
        <url-pattern>/listeDesEtudiants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeOffreAvecLiensCandidatures</servlet-name>
        <url-pattern>/listeOffreAvecLiensCandidatures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCandidaturesPourOffre</servlet-name>
        <url-pattern>/listeCandidaturesPourOffre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
