<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>olivia.postulation</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>teqxwzuhtchqvogu</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>com.mv2.controllers.ServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.mv2.controllers.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.mv2.controllers.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.mv2.controllers.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>com.mv2.controllers.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cv</servlet-name>
        <servlet-class>com.mv2.controllers.Cv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherche</servlet-name>
        <servlet-class>com.mv2.controllers.Recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajouter</servlet-name>
        <servlet-class>com.mv2.controllers.Ajouter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifier</servlet-name>
        <servlet-class>com.mv2.controllers.Modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supprimer</servlet-name>
        <servlet-class>com.mv2.controllers.Supprimer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeOffre</servlet-name>
        <servlet-class>com.mv2.controllers.ListeOffre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NouvelOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.NouvelOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.SupprimerOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.ModifierOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierOffreEntreprisePartieDeux</servlet-name>
        <servlet-class>com.mv2.controllers.ModifierOffreEntreprisePartieDeux</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherOffreEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.AfficherOffreEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerDemandePostulation</servlet-name>
        <servlet-class>com.mv2.controllers.EnvoyerDemandePostulation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerMail</servlet-name>
        <servlet-class>com.mv2.controllers.EnvoyerMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeDesEntreprisesController</servlet-name>
        <servlet-class>com.mv2.controllers.ListeDesEntreprisesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeEtudiantController</servlet-name>
        <servlet-class>com.mv2.controllers.listeEtudiantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEtudiant</servlet-name>
        <servlet-class>com.mv2.controllers.deleteEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeOffreAvecLiensCandidatures</servlet-name>
        <servlet-class>com.mv2.controllers.ListeOffreAvecLiensCandidatures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCandidaturesPourOffre</servlet-name>
        <servlet-class>com.mv2.controllers.ListeCandidaturesPourOffre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEntreprise</servlet-name>
        <servlet-class>com.mv2.controllers.deleteEntreprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeDesPubs</servlet-name>
        <servlet-class>com.mv2.controllers.ListeDesPubs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePublicite</servlet-name>
        <servlet-class>com.mv2.controllers.DeletePublicite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherCV</servlet-name>
        <servlet-class>com.mv2.controllers.AfficherCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangerLangue</servlet-name>
        <servlet-class>com.mv2.controllers.ChangerLangue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afficherPageCvEtudiant</servlet-name>
        <servlet-class>com.mv2.controllers.ctrlEnt.afficherPageCvEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanifierDateEntrevue</servlet-name>
        <servlet-class>com.mv2.controllers.ctrlEnt.PlanifierDateEntrevue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriseDeRendezVousParCourriel</servlet-name>
        <servlet-class>com.mv2.controllers.ctrlEnt.PriseDeRendezVousParCourriel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagePostulation</servlet-name>
        <servlet-class>com.mv2.controllers.PagePostulation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptPostulation</servlet-name>
        <servlet-class>com.mv2.controllers.AcceptPostulation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FairePub</servlet-name>
        <servlet-class>com.mv2.controllers.FairePub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OffreRefuse</servlet-name>
        <servlet-class>com.mv2.controllers.OffreRefuse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeDesOccup</servlet-name>
        <servlet-class>com.mv2.controllers.listeDesOccup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherLettreMotivation</servlet-name>
        <servlet-class>com.mv2.controllers.AfficherLettreMotivation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MettreAjourLettre</servlet-name>
        <servlet-class>com.mv2.controllers.MettreAjourLettre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/ServletTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cv</servlet-name>
        <url-pattern>/Cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherche</servlet-name>
        <url-pattern>/recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajouter</servlet-name>
        <url-pattern>/Ajouter/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supprimer</servlet-name>
        <url-pattern>/Supprimer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeOffre</servlet-name>
        <url-pattern>/listeOffre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NouvelOffreEntreprise</servlet-name>
        <url-pattern>/nouvelOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerOffreEntreprise</servlet-name>
        <url-pattern>/supprimerOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierOffreEntreprise</servlet-name>
        <url-pattern>/modifierOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierOffreEntreprisePartieDeux</servlet-name>
        <url-pattern>/modifierOffreEntreprisePartieDeux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherOffreEntreprise</servlet-name>
        <url-pattern>/afficherOffreEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerDemandePostulation</servlet-name>
        <url-pattern>/envoyerDemandePostulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerMail</servlet-name>
        <url-pattern>/envoyerMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeDesEntreprisesController</servlet-name>
        <url-pattern>/listeDesEntreprises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeEtudiantController</servlet-name>
        <url-pattern>/listeDesEtudiants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEtudiant</servlet-name>
        <url-pattern>/deleteEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeOffreAvecLiensCandidatures</servlet-name>
        <url-pattern>/listeOffreAvecLiensCandidatures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCandidaturesPourOffre</servlet-name>
        <url-pattern>/listeCandidaturesPourOffre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEntreprise</servlet-name>
        <url-pattern>/deleteEntreprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeDesPubs</servlet-name>
        <url-pattern>/listeDesPubs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePublicite</servlet-name>
        <url-pattern>/deletePublicite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherCV</servlet-name>
        <url-pattern>/afficherCV</url-pattern>
    </servlet-mapping>
    <locale-config>
        <default-locale>fr</default-locale>
        <supported-locale>en</supported-locale>
        <supported-locale>de</supported-locale>
        <supported-locale>fr</supported-locale>
    </locale-config>
    <servlet-mapping>
        <servlet-name>ChangerLangue</servlet-name>
        <url-pattern>/changerLangue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficherPageCvEtudiant</servlet-name>
        <url-pattern>/afficherPageCvEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanifierDateEntrevue</servlet-name>
        <url-pattern>/planifierDateEntrevue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriseDeRendezVousParCourriel</servlet-name>
        <url-pattern>/priseDeRendezVousParCourriel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagePostulation</servlet-name>
        <url-pattern>/pagePostulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptPostulation</servlet-name>
        <url-pattern>/acceptPostulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FairePub</servlet-name>
        <url-pattern>/FairePub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OffreRefuse</servlet-name>
        <url-pattern>/offreRefuse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeDesOccup</servlet-name>
        <url-pattern>/listeDesOccup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherLettreMotivation</servlet-name>
        <url-pattern>/afficherLettreMotivation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MettreAjourLettre</servlet-name>
        <url-pattern>/mettreAjourLettre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pageAccueil.jsp</welcome-file>
    </welcome-file-list>
</web-app>
